<!DOCTYPE html>
<html>
  <header>
    <script type="text/javascript" src="../static/scripts/signin.js"></script>
    <script type="text/javascript" src="../static/scripts/lib/jquery-3.2.1.min.js"></script>
  </header>
  <head>
    <title>Less Stress. More Puppies.</title>
  </head>
  <body>
    <h1>Less Stress. More Puppies.</h1>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <button>Sign in with twitter</button>
    <div class="fb-like" data-href="https://www.facebook.com/parrottweets/" data-layout="standard" data-action="like" data\-size="small" data-show-faces="false" data-share="true"></div>
    <a href="https://twitter.com/ParrotHolberton" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @ParrotHolberton</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/ParrotHolberton">Tweets by ParrotHolberton</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h1>QA</h1>
    <h2>What is Parrot?</h2>
    <p>
      After a long and hectic day at the office, Parrot relieves your stress in the most modern way. We put THE CUTEST images of both puppies and kittens from all over the world, because we believe in diversity
    </p>
    <h2>Why Parrot?</h2>
    <p>
      Our mission is to bridge the divide between puppy lovers and kitten fans.
    </p>
    <h2>Is it free?</h2>
    <p>
      Yes! Parrot is free and we promise to keep it that way.
    </p>
    <h2>So, what are you waiting for?</h2>
    <p>
      Yes, what are you waiting for? Start sharing your favorite pictures!
    </p>
    <h1>Our Team</h1>
    <h2>This website was created in one day as part of an assignment for <a href="https://www.holbertonschool.com/">Holberton School</a>
    </h2>
    <h3>Jay, Kina, Sam, Jimmy, Anne, Richard, Matthew, Holden, David, and Ian contributed to this project.
  </h3>
    <h3>Follow us at on Twitter: <a href="https://twitter.com/ParrotHolberton/followers">@ParrotHolberton</a>
    </h3>
    <script type="text/javascript" src="../static/scripts/index.js"></script>
  </body>
</html>
