<!DOCTYPE html>
<html>
<head>
	<title>Press Release</title>
</head>
<body>
	<h1>Press Release</h1>
  <h2>Looking to get twitter famous? Parrot can help you with that.</h2>
	<p>
  Summary
SAN FRANCISCO, California- May 16th, 2017- Holberton School students create a twitter bot creator called Parrot. With Parrot, a user can log in with their twitter account and enter a keyword, ex. “dog,” that they want to retweet. Then Parrot will find the most recent tweets and retweet them for you. Ex. retweeting the most recent tweet that included “dog.” By retweeting content automatically, Parrot will help users get more engagement. Parrot is a free service available to anyone with a twitter account.
<br>
“EEEEHHHHH IT WORKS! PRAISE ALL THE DOGGOS” - CEO Jay Wang
</br>
Parrot was an 8 hour project for Holberton School. Holberton School is a San Francisco based 2 year intensive full stack software engineering school. The students were split into 2 teams of 10 students each and given until 5pm to meet the requirements given and build a project that met those requirements. And Parrot was born. 
<br>
“The front-end team is making things pretty and the back-end team is on fire.” - Richard Sim, back-end team engineer.
</br>
The students on the team are currently finishing up their 9 month intensive section at Holberton School and then looking for internships or jobs. Follow the school and it’s amazingly talented students on twitter at @HolbertonSchool. 
<br>
“Seeing what a team can come up with in 8 hours is amazing. I learned a lot and feel more prepared for next time.” - Samantha Scislowicz, team product manager.
</br>

Media Contact (Contact Info)
@ParrotHolberton on Twitter
www.facebook.com/parrottweets on Facebook
  </p>
</body>
</html>
